<div id="main-content" style="height: 100%; background: rgb(150,150,150,0.1); box-shadow: 1px 0 20px rgba(0,0,0,0.05);">
    <app-info-header></app-info-header>  
    <ng-sidebar-container style="height: 100vh;">
 
        <!-- A sidebar -->
        <ng-sidebar [(opened)]="_opened" [mode]="_MODES[_modeNum]" [position]="_POSITIONS[_positionNum]" ng-sidebar-push>
            <app-sidebar></app-sidebar>
        </ng-sidebar>
   
        <!-- Page content -->
            <div class="page-wrapper" ng-sidebar-content>      
                <div class="container-fluid">
                    <app-nav (buttonEvent)='onErrorButtonClick($event)' [(_opened)]="_opened"></app-nav>
                    <router-outlet></router-outlet>
                </div>
            </div>
      </ng-sidebar-container>
</div>







