<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="active-title-box">
        <h5>Number Activation</h5>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="tel-desc-box">
        <h4 class="tel-title">Telephone Number Details</h4>
        <div class="tooltip">
          <a href="#"><img src="assets/images/info-icon.svg" class="vertical-top-img" width="20px" height="20px"></a>
          <div class="tooltiptext">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id tempus enim. Pellentesque eget
              mauris in mauris blandit ullamcorper nec eget mauris. Vestibulum placerat consectetur accumsan.
            </span>
          </div>
        </div>
        <div>Dummy descriptive text comes here</div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card custom-card">
        <div class="card-header bg-card">
          <h5 class=""><a data-toggle="collapse" href="#collapse1">
              <i class="fa fa-plus-square" aria-hidden="true"></i>
              <i class="fa fa-minus-square" aria-hidden="true" style="display:none;"></i>
            </a>
            You are activating 20 numbers <a href="#">View details</a></h5>
        </div>
        <div id="collapse1" class="card-body panel-collapse">
          <table class="table table-bordered">
            <thead class="table-header">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="ref-box">
      <div class="form-group col-xs-5 col-md-5 inline-box">
        <label for="name" class="control-label">Service type</label>
        <select value="" class="form-control" id="name" placeholder="Ime">
          <option value="">Select service type</option>
          <option value="abc">abc</option>
        </select>
      </div>
      <div class="form-group col-xs-5 col-md-5 inline-box">
        <label for="name" class="control-label">Customer reference</label>
        <input type="text" value="" class="form-control" id="name" placeholder="customer reference">
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="tel-desc-box end-cust-details">
        <h4 class="tel-title">End Customer Details</h4>
        <div class="tooltip">
          <a href="#"><img src="assets/images/info-icon.svg" class="vertical-top-img" width="20px" height="20px"></a>
          <div class="tooltiptext">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id tempus enim. Pellentesque eget
              mauris in mauris blandit ullamcorper nec eget mauris. Vestibulum placerat consectetur accumsan.
            </span>
          </div>
        </div>
        <div>custome details will be updated in emergency service database where appropriate</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-12">
      <div class="form-group business-radio-box">
        <input type="radio" id="test1" name="radio-group" checked>
        <label for="test1">Business</label>
      </div>
      <div class="form-group business-radio-box">
        <input type="radio" id="test2" name="radio-group">
        <label for="test2">Residential</label>
      </div>
    </div>
    <div class="form-group col-xs-5 col-md-5">
      <label for="name" class="control-label">Customer name</label>
      <input type="text" value="" class="form-control" id="name" placeholder="customer name">
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tel-desc-box end-cust-details">
          <h4 class="tel-title">Address</h4>
          <div class="tooltip">
            <a href="#"><img src="assets/images/info-icon.svg" class="vertical-top-img" width="20px" height="20px"></a>
            <div class="tooltiptext">
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id tempus enim. Pellentesque eget
                mauris in mauris blandit ullamcorper nec eget mauris. Vestibulum placerat consectetur accumsan.
              </span>
            </div>
          </div>
          <div>Dummy descriptive text come here</div>
        </div>
      </div>

  </div>
</div>