<!-- Search -->
<div class="container-fluid co-search-wrapper">
  <div class="container">          
    <div class="row">              
      <div class="col-md-12">
          <div class="co-search-box">
            <div class="input-group co-search">                                    
              <select class="co-search-select">
                  <option selected>All</option>
                  <option>Transaction ID</option>
                  <option value="co-no-range">Number Range</option>
                  <option>Customer Ref</option>
              </select>
              <input type="text" class="form-control" placeholder="Search here..." aria-label="Text input with dropdown button">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div> 
            <!-- Number Range Box -->
            <div class="co-nr-content co-nr-box">
              <div class="form-row">
                  <div class="form-group col-md-3">                            
                      <label for="">Local Area Code <span class="co-required">*</span></label>
                      <select class="form-control">
                          <option selected>Select</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                      </select>
                  </div>
                  <div class="form-group col-md-3">                            
                      <label for="">Main Number <span class="co-required">*</span></label>
                      <input type="text" class="form-control" aria-describedby="mainNumber" placeholder="">
                  </div>
                  <div class="form-group col-md-3">                            
                      <label for="">Range Start <span class="co-required">*</span></label>
                      <input type="text" class="form-control" aria-describedby="rangeStart" placeholder="">
                  </div>
                  <div class="form-group col-md-3">                            
                      <label for="">Range End <span class="co-required">*</span></label>
                      <input type="text" class="form-control" aria-describedby="rangeEnd" placeholder="">
                  </div>
              </div>
            </div>
             <!-- Number Range Box Ends -->                            
          </div>  
        </div>
    </div>
  </div>
</div>
<!-- Serach Ends -->
<!-- Tab -->
<div class="container-fluid">
  <div class="container p-b125">        
    <div class="row">
        <div class="col-md-12">
            <h3 class="co-heading m-t25">Number Enquiry - Search Result</h3>
        </div>
    </div>
    <div class="row">                
        <div class="col-md-12"> 
            <ul class="nav nav-tabs co-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="reserved-tab" data-toggle="tab" href="#reserved" role="tab" aria-controls="home" aria-selected="true">Reserved <span class="co-tab-count">10000</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="activated-tab" data-toggle="tab" href="#activated" role="tab" aria-controls="activated" aria-selected="false">Activated <span class="co-tab-count">2000</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="quarantined-tab" data-toggle="tab" href="#quarantined" role="tab" aria-controls="quarantined" aria-selected="false">Quarantined <span class="co-tab-count">100</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="portedin-tab" data-toggle="tab" href="#portedin" role="tab" aria-controls="portedin" aria-selected="false">Ported-IN <span class="co-tab-count">20</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="portedout-tab" data-toggle="tab" href="#portedout" role="tab" aria-controls="portedout" aria-selected="false">Ported-OUT <span class="co-tab-count">10</span></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="reserved" role="tabpanel" aria-labelledby="reserved-tab">
                <!-- Table Starts -->
                <table class="table table-striped co-table">
                    <thead>
                      <tr>
                        <th scope="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1"></label>
                              </div>
                        </th>
                        <th scope="col">Reseller Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Service Profile</th>                        
                        <th scope="col">Telephone Number Start</th>
                        <th scope="col">Telephone number End</th>
                        <th scope="col">Range Quantity</th>                        
                        <th scope="col">Status</th>
                        <th scope="col">Customer Ref.</th>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">User Name</th>
                      </tr>
                    </thead> 
                    <tbody>
                      <tr>                                                       				
                        <td scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2"></label>
                            </div>                                
                        </td>
                        <td>COLT</td>
                        <td>UNITED KINGDOM</td>
                        <td>ANH</td>
                        <td>+441132564180</td>
                        <td>+441132564189</td>
                        <td>10</td>
                        <td>Reserved</td>
                        <td>Test2</td>
                        <td><a href="#">201903291</a></td>
                        <td>BSSROSS</td>
                      </tr>              									
                      <tr>                                                       				
                          <td scope="row">
                              <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="customCheck3">
                                  <label class="custom-control-label" for="customCheck3"></label>
                              </div>                                
                          </td>
                          <td>COLT</td>
                          <td>UNITED KINGDOM</td>
                          <td>ANH</td>
                          <td>+441132564170</td>
                          <td>+441132564179</td>
                          <td>10</td>
                          <td>Reserved</td>
                          <td>Test1</td>
                          <td><a href="#">201903291</a></td>
                          <td>BSSROSS</td>
                        </tr>
                        <tr>                                                       				
                                <td scope="row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                                        <label class="custom-control-label" for="customCheck4"></label>
                                    </div>                                
                                </td>
                                <td>COLT</td>
                                <td>UNITED KINGDOM</td>
                                <td>ANH</td>
                                <td>+441132564282</td>
                                <td>+441132564763</td>
                                <td>10</td>
                                <td>Reserved</td>
                                <td>Test2</td>
                                <td><a href="#">201903291</a></td>
                                <td>BSSROSS</td>
                              </tr>              									
                              <tr>                                                       				
                                  <td scope="row">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="customCheck5">
                                          <label class="custom-control-label" for="customCheck5"></label>
                                      </div>                                
                                  </td>
                                  <td>COLT</td>
                                  <td>UNITED KINGDOM</td>
                                  <td>ANH</td>
                                  <td>+441132564359</td>
                                  <td>+441132563492</td>
                                  <td>10</td>
                                  <td>Reserved</td>
                                  <td>Test1</td>
                                  <td><a href="#">201903291</a></td>
                                  <td>BSSROSS</td>
                                </tr> 
                                <tr>                                                       				
                                    <td scope="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                            <label class="custom-control-label" for="customCheck6"></label>
                                        </div>                                
                                    </td>
                                    <td>COLT</td>
                                    <td>UNITED KINGDOM</td>
                                    <td>ANH</td>
                                    <td>+441132564287</td>
                                    <td>+441132564793</td>
                                    <td>10</td>
                                    <td>Reserved</td>
                                    <td>Test2</td>
                                    <td><a href="#">201903291</a></td>
                                    <td>BSSROSS</td>
                                </tr>                                  
                                           
                    </tbody>
                </table>
                <!-- Table Ends -->
                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-5"> 
                    <nav aria-label="Page navigation example">
                        <ul class="pagination co-pagination">
                            <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>                        
                <!-- Pagination Ends -->
                <div class="col-md-7"> 
                    <form class="form-inline co-form justify-content-end">
                        <div class="form-group">
                            <label for="staticEmail2">Modify Status of Selected Numbers:</label>
                            <select class="form-control m-l15 m-r15">
                                <option>Select</option>
                                <option>New Status</option>
                                <option>Activate</option>
                                <option>Extended Reservation</option>
                                <option>Cancel Reservation</option>    
                            </select>
                        </div>                        
                        <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
                        <a class="btn btn-primary" href="my-number-form.html">Submit</a>
                    </form> 
                </div>
                </div>
              </div>
              <!-- Activated placeholder -->
              <div class="tab-pane fade" id="activated" role="tabpanel" aria-labelledby="activated-tab">
                   <!-- Table Starts -->
                <table class="table table-striped co-table">
                        <thead>
                          <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1"></label>
                                  </div>
                            </th>
                            <th scope="col">Reseller Name</th>
                            <th scope="col">Country</th>
                            <th scope="col">Service Profile</th>                        
                            <th scope="col">Telephone Number Start</th>
                            <th scope="col">Telephone number End</th>
                            <th scope="col">Range Quantity</th>                        
                            <th scope="col">Status</th>
                            <th scope="col">Customer Ref.</th>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">User Name</th>
                          </tr>
                        </thead> 
                        <tbody>
                          <tr>                                                       				
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"></label>
                                </div>                                
                            </td>
                            <td>COLT</td>
                            <td>UNITED KINGDOM</td>
                            <td>ANH</td>
                            <td>+441132564180</td>
                            <td>+441132564189</td>
                            <td>10</td>
                            <td>Activated</td>
                            <td>Test2</td>
                            <td><a href="#">201903291</a></td>
                            <td>BSSROSS</td>
                          </tr>              									
                          <tr>                                                       				
                              <td scope="row">
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                                      <label class="custom-control-label" for="customCheck3"></label>
                                  </div>                                
                              </td>
                              <td><a href="#">COLT</a></td>
                              <td>UNITED KINGDOM</td>
                              <td>ANH</td>
                              <td>+441132564170</td>
                              <td>+441132564179</td>
                              <td>10</td>
                              <td>Activated</td>
                              <td>Test1</td>
                              <td><a href="#">201903291</a></td>
                              <td>BSSROSS</td>
                            </tr>
                            <tr>                                                       				
                                    <td scope="row">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                            <label class="custom-control-label" for="customCheck4"></label>
                                        </div>                                
                                    </td>
                                    <td>COLT</td>
                                    <td>UNITED KINGDOM</td>
                                    <td>ANH</td>
                                    <td>+441132564282</td>
                                    <td>+441132564763</td>
                                    <td>10</td>
                                    <td>Activated</td>
                                    <td>Test2</td>
                                    <td><a href="#">201903291</a></td>
                                    <td>BSSROSS</td>
                                  </tr>              									
                                  <tr>                                                       				
                                      <td scope="row">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck5">
                                              <label class="custom-control-label" for="customCheck5"></label>
                                          </div>                                
                                      </td>
                                      <td><a href="#">COLT</a></td>
                                      <td>UNITED KINGDOM</td>
                                      <td>ANH</td>
                                      <td>+441132564359</td>
                                      <td>+441132563492</td>
                                      <td>10</td>
                                      <td>Activated</td>
                                      <td>Test1</td>
                                      <td><a href="#">201903291</a></td>
                                      <td>BSSROSS</td>
                                    </tr> 
                                    <tr>                                                       				
                                        <td scope="row">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                                <label class="custom-control-label" for="customCheck6"></label>
                                            </div>                                
                                        </td>
                                        <td>COLT</td>
                                        <td>UNITED KINGDOM</td>
                                        <td>ANH</td>
                                        <td>+441132564287</td>
                                        <td>+441132564793</td>
                                        <td>10</td>
                                        <td>Activated</td>
                                        <td>Test2</td>
                                        <td><a href="#">201903291</a></td>
                                        <td>BSSROSS</td>
                                    </tr>                                  
                                               
                        </tbody>
                    </table>
                    <!-- Table Ends -->
                    <!-- Pagination -->
                    <div class="row">
                        <div class="col-md-5"> 
                        <nav aria-label="Page navigation example">
                            <ul class="pagination co-pagination">
                                <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>                        
                    <!-- Pagination Ends -->
                    <div class="col-md-7"> 
                        <form class="form-inline co-form justify-content-end">
                            <div class="form-group">
                                <label for="staticEmail2">Modify Status of Selected Numbers:</label>
                                <select class="form-control m-l15 m-r15">
                                    <option>Select</option>
                                    <option>New Status</option>
                                    <option>Activate</option>
                                    <option>Extended Reservation</option>
                                    <option>Cancel Reservation</option>    
                                </select>
                            </div>                        
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form> 
                    </div>
                    </div>
              </div>
              <!-- Activated placeholder ends-->
              <div class="tab-pane fade" id="quarantined" role="tabpanel" aria-labelledby="quarantined-tab">Quarantined placeholder</div>
              <div class="tab-pane fade" id="portedin" role="tabpanel" aria-labelledby="portedin-tab">Ported-IN placeholder</div>
              <div class="tab-pane fade" id="portedout" role="tabpanel" aria-labelledby="portedout-tab">Ported-OUT placeholder</div>
            </div>
        </div>
    </div>              
  </div>  
</div>
<!-- Tab Ends -->
