<div class="container-fluid co-dash-bg">
  <div class="container">
      <div class="row">
        <div class="col-md-12"> 
          <h3 class="co-heading m-t25">Dashboard</h3>
        </div>
      </div>
      <div class="row">        
        <div class="col-md-3"> 
            <a href="#" class="co-dash active">
              <div class="card">
                <div class="top"> 
                  <div class="text-center">
                      <span class="co-dash-circle">
                          <i class="fa fa-phone"></i>
                      </span>
                  </div>   
                </div>
                <div class="bottom">                
                  <a href="#" class="card-link co-label">My Numbers</a>
                  <a href="#" class="card-link float-right"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </a>
        </div> 
        <div class="col-md-3"> 
            <a href="#" class="co-dash">
                <div class="card">
                  <div class="top"> 
                    <div class="text-center">
                        <span class="co-dash-circle">
                            <i class="fa fa-phone"></i>
                            <i class="fa fa-plus"></i>
                        </span>
                    </div>   
                  </div>
                  <div class="bottom">                
                    <a href="#" class="card-link co-label">New Numbers</a>
                    <a href="#" class="card-link float-right"><i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </a>
        </div>
        <div class="col-md-3"> 
            <a href="#" class="co-dash">
                <div class="card">
                  <div class="top"> 
                    <div class="text-center">
                        <span class="co-dash-circle">
                            <i class="fa fa-arrows-alt"></i>
                        </span>
                    </div>   
                  </div>
                  <div class="bottom">                
                    <a href="#" class="card-link co-label">Port IN/OUT</a>
                    <a href="#" class="card-link float-right"><i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </a>
        </div>
        <div class="col-md-3"> 
            <a href="#" class="co-dash">
                <div class="card">
                  <div class="top"> 
                    <div class="text-center">
                        <span class="co-dash-circle">
                            <i class="fa fa-cart-arrow-down"></i>
                        </span>
                    </div>   
                  </div>
                  <div class="bottom">                
                    <a href="#" class="card-link co-label">Bulk Request</a>
                    <a href="#" class="card-link float-right"><i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </a>
        </div> 
      </div>
      <div class="row">        
          <div class="col-md-3"> 
              <a href="#" class="co-dash">
                <div class="card">
                  <div class="top"> 
                    <div class="text-center">
                        <span class="co-dash-circle">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>   
                  </div>
                  <div class="bottom">                
                    <a href="#" class="card-link co-label">My Account</a>
                    <a href="#" class="card-link float-right"><i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </a>
          </div> 
          <div class="col-md-3"> 
              <a href="#" class="co-dash">
                  <div class="card">
                    <div class="top"> 
                      <div class="text-center">
                          <span class="co-dash-circle">
                            <i class="fa fa-question"></i>
                          </span>
                      </div>   
                    </div>
                    <div class="bottom">                
                      <a href="#" class="card-link co-label">Help</a>
                      <a href="#" class="card-link float-right"><i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </a>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">               
          </div> 
        </div>
  </div>
</div>
