.info-header {
    z-index: 100;
    position: relative;
    width: 100%;
}
.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #969696;
    font-size: 0.7rem;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 0rem;
    /* border: 1px solid transparent; */
    border-radius: 0;
}